src/main/resources/codeTemplates/
### Scala template
*.class
*.log

src/test/scala/tscfg/example/*
src/test/java/tscfg/example/*

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Created by .ignore support plugin (hsz.mobi)
