src/main/resources/codeDefs/

# temporary ignores related with --java:records:
# these are OK but currently ignored due to sbt-related issues, especially for CI
JavaIssue75Cfg.java
JavaIssue75bCfg.java
JavaIssue75eCfg.java

.metals
metals.sbt
.bloop
.bsp

### Scala template
*.class
*.log

# keep generated code to facilitate diff inspection upon changes in the tool
#src/test/scala/tscfg/example/*
#src/test/java/tscfg/example/*

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDE stuff
.vscode
.scala_dependencies
.worksheet

# Created by .ignore support plugin (hsz.mobi)
