name: CI

on: ["push", "pull_request"]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jdk: [17]
        scala: ['2.13', '3.1']
        include:
          - scala: '2.13'
            scala-version: 2.13.7
          - scala: '3.1'
            scala-version: 3.1.0
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup JDK
        uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: ${{ matrix.jdk }}

      - name: Check and compile
        run: sbt ++${{ matrix.scala-version }} scalafmtCheckAll compile

      - name: Test
# due to issue with java record tests under scala3:
        if: startsWith(matrix.scala, '2')
        run: sbt ++${{ matrix.scala-version }} coverage genCode test
# otherwise, only coverage restricted to scala2:
#        run: >
#          if [[ "${{ matrix.scala }}" =~ ^2\..* ]]; then
#            sbt coverage "++${{ matrix.scala-version }} genCode test";
#          else
#            sbt "++${{ matrix.scala-version }} genCode test";
#          fi

      - name: Coveralls
        if: startsWith(matrix.scala, '2')
        run: sbt ++${{ matrix.scala-version }} coverageAggregate coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: Scala ${{ matrix.scala }}
